*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,  #000, #b30202fa);
    padding: 10px;
    color: white;
}
.wrapper{
    max-width: 759px;
    height: 100%;
    margin: 5rem 7rem 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
label{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
input{
    margin-bottom: 2rem;
    height: 1.5rem;
}

